mat-card {
    margin: 16px;
    padding: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .pedido-detalhes {
    margin-top: 16px;
  }
  
  h3 {
    color: #3f51b5;
    font-size: 1.8em;
    margin-bottom: 16px;
  }
  
  .item-detalhes {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  
  mat-list-item {
    display: contents
  }
  