<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="over" position="start">
    <mat-nav-list>
      <a mat-list-item routerLink="/create-cliente" (click)="drawer.close()">Criar Cliente</a>
      <a mat-list-item routerLink="/create-produto" (click)="drawer.close()">Criar Produto</a>
      <a mat-list-item routerLink="/create-pedido" (click)="drawer.close()">Criar Pedido</a>
      <a mat-list-item routerLink="/checkout" (click)="drawer.close()">Checkout</a>
      <a mat-list-item routerLink="/status-pedido" (click)="drawer.close()">Consultar Status do Pedido</a>
      <a mat-list-item routerLink="/buscar-pedidos" (click)="drawer.close()">Buscar Pedidos</a>
      <a mat-list-item routerLink="/buscar-produtos" (click)="drawer.close()">Buscar Produtos</a>
      <a mat-list-item routerLink="/buscar-clientes" (click)="drawer.close()">Buscar Clientes</a>
      <a mat-list-item routerLink="/pedidos-em-progresso" (click)="drawer.close()">Pedidos em Progresso</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>TechChallenge Restaurante</span>
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
