.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  background: #3f51b5;
  color: white;
  z-index: 2;
}

.container {
  padding: 16px;
}

.mat-icon-button {
  margin-right: 8px;
}

.mat-sidenav-content {
  padding-top: 64px; /* Ajuste para garantir que o conteúdo fique abaixo da toolbar */
}
