mat-card {
    margin: 16px;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  h2 {
    text-align: center;
    color: #3f51b5;
  }
  